@charset "UTF-8";

.header{
	background-color:#F6F6F6;
	border-bottom:#F0F0F0 solid 1px;
}
.icon{
	font-size:30px;
}



.login-box{
	width:600px;
	height:600px;
}
.join-box{
	width:600px;
	height:800px;
}
.underline{
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:solid 1px;
}
.monthSection{
	width:1000px;
}
.userName{
	font-size:35px;
}
.date{
	width:600px;
}
.month{
	width:900px;
	
	/* border:1px solid black; */
}
.todolist-box{
	
	width:1000px;
	
}
.todolist{
	
	width:900px;
	
}


